chef-repo
venv
*.pyc
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.pot
local_settings.py
staticfiles
/cookbooks
/tmp
Cheffile.lock
*.sw*
*.png
*.jpg
*.JPG
.vagrant
