{% extends "base.html" %}
{% load split_string %}
{% block content %}
   <div class="row">
   <div class="large-4">
    {% if list_all_posts %}
    
    {% for post in list_all_posts %}
    <div class="panel callout">
    <ul>
        <li>{{ post.blog_post_content }}
         <a class="th radius" href="/media_files/{{ post.blog_post_image|img_path_last_value:'/' }}">
            <img src="/media_files/{{ post.blog_post_image|img_path_last_value:'/' }}">
         </a>
        </li>
    </ul>
    </div>
    {% endfor %}
    {% endif %}

   </div> 
   </div>
{% endblock %}
